@model rickar.NotasEstudiante

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>NotasEstudiante</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Labouno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Labouno)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Labodos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Labodos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Labotres)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Labotres)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.parcialuno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.parcialuno)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.parcialdos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.parcialdos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.parcialtres)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.parcialtres)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdNota }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
